<!-- required variables:
    Workout workout --- the workout to be rendered
    Boolean current --- true: workout is from users current 
                        false: workout is from all workouts
-->

<article id="Card<%=workout._id%>" class="card workoutCard m-3">
    <button type="button" class="btn btn-primary bg-primary card-header" 
    data-toggle="collapse" data-target="#WorkoutSetsList<%=workout._id%>">
        <h4><%=workout.name%></h4>
    </button>

    <div id="WorkoutSetsList<%=workout._id%>" class="collapse">
        <div class="card-body list-group">
            <h5 class="text-center">Created By: <%=workout.creator%></h5>
            <ol>
                <% for (let set of workout.sets) { %>
                <li><span class="badge badge-secondary m-2"><%
                    if (set.amount) { // if an amount exists
                        set.amount; // display the amount
                    }
                    %></span><%=set.exercise%></li>
                <% } %>
            </ol>
        </div>
    </div>
    <%  if (current) {  %>
    <button id="complete<%=workout.id%>" class='btn btn-success form-control'>Mark Completed</button>
    <% } else { %>
        <form action="/addWorkout" method="POST" class="w-100">
            <input type="hidden" name="workoutId" id="workoutId" value="<%=workout._id%>" />
    <button type="submit" id="add<%=workout.id%>" class='btn btn-warning form-control'>Add To Your Workouts</button>
</form>
    <% } %>
</article>