<!-- required variables:
    Workout workout --- the workout to be rendered
    Boolean current --- true: workout is from users current 
                        false: workout is from all workouts


  -->  

<article id="Card<%=workout._id%>" class="card workoutCard m-3 align-self-start">
    <button type="button" class="btn btn-primary bg-primary card-header" data-toggle="collapse"
        data-target="#WorkoutSetsList<%=workout._id%>">
        <h4><%=workout.name%></h4>
    </button>

    <div id="WorkoutSetsList<%=workout._id%>" class="collapse">
        <div class="card-body">
            <h5 class="text-center">Created By: <%=workout.creator%></h5>
            <ol class="list-group">
                <% for (let set of workout.sets) { %>
                <li><span class="badge badge-secondary m-2">
                        <% if (set.sets) { /*if sets exists*/ %>
                        <%=set.sets/*display sets*/%> sets of

                        <% } if(set.repetitions) { /*if reps exist*/ %>
                        <%=set.repetitions/*display reps*/%> reps of
                        <% } %>

                    </span><%=set.exercise/*ALWAYS display exercise name*/%>

                    <% if (set.duration) { /*if duration exists*/ %>
                    for <%=set.duration/*display duration*/%>
                    <% } %>
                </li>
                <% } %>
            </ol>
            <% if (current) { %>
    <form id="removeWorkout" action="removeWorkout" method="POST" class="w-100 center">
        <input type="hidden" name="workoutId" id="workoutId" value="<%=workout._id%>" />
        <button type="submit" id="remove<%=workout.id%>" class='btn btn-outline-danger form-control'>Remove Workout</button>
        </form>
    <% } %>
        </div>
    </div>
    <%  if (current) {  %>
      <form id="markAsComplete" action="markAsComplete" method="POST" class="w-100">
    <button id="complete<%=workout.id%>" class='btn btn-success form-control'>Mark Completed</button>
    <input type="hidden" name="workoutId" id="workoutId" value="<%=workout._id%>" />
    </form>
    <% } else { %>
    <form action="/addWorkout" method="POST" class="w-100">
       <input type="hidden" name="workoutId" id="workoutId" value="<%=workout._id%>" />
        <button type="submit" id="add<%=workout.id%>" class='btn btn-warning form-control'>Add To Your Workouts</button>
    </form>
    <% } %>
</article>
